* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .login {
    width: 420px;
    height: 550px;
    border: 1px solid #ccc;
    background: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif) center
      center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
  }
  .login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  }
  .login .form h2 {
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .login .form h1 {
    color: #fff;
    text-align: center;
    font-weight: Bold;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 15px;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }
  .login .form input:focus {
    border: 3px solid rgba(255, 255, 255, 0.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
    color: #ddd;
  }
  .login .form input.submit {
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
  }
  .login .form btn.submit {
    background: rgba(255, 255, 255, 0.9);
    color: #444;
    font-size: 25px;
    margin-top: 40px;
    font-weight: bold;
  }