* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Incio Quienes Somos*/
.container-fluid{
    margin: 0;
    padding: 0;
}
.header-img img{
    width: 100%;
    height: 100vh;
}
.title-h1{
    color: #263a46;
    text-align: center;
    margin: 20px 0 20px 0 ;
}
.slider-nosotros{
    margin-top: 20px;
}
.slider-nosotros p{
    color: #263a46;
    margin-top: 20px;
}
.equipo h2{
    color: #263a46;
    text-align: center;
    margin: 20px 0 20px 0 ;
}
.equipo .equipo-6{
    display: flex;
    justify-content: space-evenly;
}
.video{
    margin: 30px 0px;
}
/*Fin Quienes Somos*/